<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        background: #ffffff;
        padding: 20px;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #d9534f;
        font-size: 20px;
      }
      p {
        font-size: 14px;
        line-height: 1.6;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }
      th {
        background: #d9534f;
        color: white;
        font-weight: bold;
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      a {
        color: #0275d8;
        text-decoration: none;
        font-weight: bold;
      }
      .footer {
        font-size: 12px;
        color: #777;
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Synchronization Issue Detected: not data received from <%= @district_data[:sites][:sites_last_activity_greater_than_3_days].count %> sites in <%= @district_data[:name] %> </h1>
        <p>
        Please be advised that the following sites have not synchronized 
        with the master system for over <strong>three</strong> days.
        </p>

      <p><strong>Sites List:</strong></p>

      <table>
        <tr>
          <th>Site Name</th>
          <th>Date Time Last Synced With Master</th>
          <th>Days Since Synced</th>
        </tr>
        <%  @district_data[:sites][:sites_last_activity_greater_than_3_days].each do |site| %>
          <tr>
          <td><%= site["site_name"] %></td>
          <td>
            <%=  site["last_activity"].to_datetime.strftime('%d %b, %Y %H:%M:%S') %>
          </td>
          <td><%= site["days_since_last_activity"] %></td>
          </tr>
        <% end %>
      </table>

      <p>
        Kindly take the appropriate measures to address and resolve the synchronization issues.
        For more details, please visit:
        <a href="https://ddedashboard.hismalawi.org" target="_blank">DDE Dashboard</a>.
      </p>

      <p>Thank you,</p>
      <p><strong>Demographics Data Exchange</strong></p>

      <div class="footer">
        &copy; <%= Time.now.year %> Demographics Data Exchange. All rights reserved.
      </div>
    </div>
  </body>
</html>
